<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib 
3. math
4. scipy 
5. seaborn 
6. opencv 
7. scikit-learn

| Data science tools |
|---|
| Mongodb |
| hadoob |
| spark |

## Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
- demistifying languages of data scince like python and SQL
- demistifying converting minutes to hours
- demystifying data tools

## Author
ahmed yehia